---
layout: default
title: Home
---
<h1>Welcome</h1>
<p>I am graduated from Paul Sabatier University Master program in Computer Graphics and Image Analysis (<a href="http://departement-informatique.univ-tlse3.fr/master-igai/" target="_blank">Master page</a>). On these pages are gathered several works I realized and participated in.</p>