---
layout: default
title: Projects
---
<h1>Projects</h1>

{% for project in site.projects %}
<div class="project_thumbnail">
	<div class="project_pres">
		<h2>{{ project.title }}</h2>
		<h4>{{ project.subtitle }}</h4>
		<p>{{ project.abstract }}</p>

		· 
		{% if project.main_page %}
			<a href="{{ project.main_page }}" target="_blank">Main page</a> · 
		{% endif %}
		{% if project.article %}
			<a href="{{ project.article }}" target="_blank">Article</a> · 
		{% endif %}
		{% if project.gitlab_url %}
			<a href="{{ project.gitlab_url }}" target="_blank">Code</a> · 
		{% endif %}
		{% if project.report %}
			<a href="{{ project.report }}" target="_blank">Report</a> · 
		{% endif %}
		{% if project.demo %}
			<a href="{{ project.demo }}" target="_blank">WebGL demo</a> ·
		{% endif %}
	</div>
	<div class="img_pres">
		<span class="helper"></span>
		<img src="{{ project.img_pres }}">
	</div>
</div>
{% endfor %}
