<div class="topnav">
	<div class="main_title">
		Baptiste Delos
		<div class="coord">
			+33 (0)6 31 05 48 96<br>
			<a href="mailto:baptiste.delos@orange.fr">baptiste.delos@orange.fr</a>
		</div>
	</div>
	<div class="tabs">
		{% for item in site.data.navigation %}
			<a href={{ item.link }} {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
		{% endfor %}
	</div>
</div>