@charset "utf-8";

/**
 * markdown.css
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://gnu.org/licenses/lgpl.txt.
 *
 * @project      Weblog and Open Source Projects of Florian Wolters
 * @version      GIT: $Id$
 * @package      xhtml-css
 * @author       Florian Wolters <florian.wolters.85@googlemail.com>
 * @copyright    2012 Florian Wolters
 * @cssdoc       version 1.0-pre
 * @license      http://gnu.org/licenses/lgpl.txt GNU Lesser General Public License
 * @link         http://github.com/FlorianWolters/jekyll-bootstrap-theme
 * @media        all
 * @valid        true
 */

body {
    font-family: Helvetica, Arial, Freesans, clean, sans-serif;
	padding: 1em;
	margin: auto;
	max-width: 65em;
	background: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    color: #000000;
    font-size: 28px;
}

h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}

hr {
    height: 1px;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

p {
	text-align: justify;
}

code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}

a:hover {
	color: #204161;
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: white;
}

table, th, td {
    border: 2px solid #bbb;
}

/* Specials */

.equation {
    margin: auto;
    padding: 10px;
    background-color: #ddd;
}

/* Navigation bar */

.topnav {
	overflow: hidden;
}

.topnav a {
	text-align: center;
	margin-right: 10px;
}

.tabs {
	float: right;
	margin-top: 45px;
	font-size: 24px;
}

.main_title {
	float: left;
	font-weight: 600;
	font-size: 35px;
}

.main_title .coord {
	font-weight: 200;
	font-size: 14px;
}

/* Project thumbnails */

.project_thumbnail {
	display: flex;
	height: auto;
	color: #777;
	margin-bottom: 10px;
}

.project_thumbnail h4 {
    color: black;
}
/*
.project_thumbnail:hover {
	background-color: #eee;
}

.project_thumbnail h2:hover {
	color: #204161;
}
*/
.project_pres {
	flex: 3.55;
	padding: 0 15px 0 0px;
}

.img_pres {
	flex: 0.45;
    white-space: nowrap;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img_pres img {
    max-width: 120px;
	vertical-align: middle;
    border-radius: 15px;
}