<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <body>
  	{% include navigation.html %}
  	<hr>
    {{ content }}
  </body>
</html>