---
layout: default
---
<h1 style="text-align: center;">{{ page.title }}</h1>
<h2>{{ page.position }}</h2>

{{ content }}
<h2>{{ page.position }}</h2>

{% if page.gitlab_url %}
	<a href="{{ project.gitlab_url }}" target="_blank"><img src="/assets/images/common/gitlab_logo.png" height="30px"></a>
{% endif %}